{% extends 'base.html' %}

{% block title %}
    {{ post.title_tag }}
{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>

<small>
    By: {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date }}
    {% if user.is_authenticated and user.id == post.author.id %}
        <a href="{% url 'edit-post' post.pk %}">(Edit)</a> - 
        <a href="{% url 'delete-post' post.pk %}">(Delete)</a>
    {% endif %}
</small>

<hr>

<p>{{ post.body|safe }}</p>

<hr>

<form action="{% url 'like-post' post.pk %}" method="POST">
    {% csrf_token %}

    {% if user.is_authenticated and user.id == post.author.id %}

        {% if liked %}
            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">Unlike</button>
        {% else %}
            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-success btn-sm">Like</button> 
        {% endif %}
    {% else %}

    <small><a href="{% url 'login' %}">Login</a> to like a post</small>

    {% endif %}

    - {{ total_likes }} Likes
</form>

<br>

<a href="{% url 'index' %}" class="btn btn-dark">Back to home</a>
{% endblock %}