{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ post.title_tag }}
{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>

<small>
    By: {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date }}
    {% if user.is_authenticated and user.id == post.author.id %}
        <a href="{% url 'edit-post' post.pk %}">(Edit)</a> - 
        <a href="{% url 'delete-post' post.pk %}">(Delete)</a>
    {% endif %}
</small>

<hr>
    {% if post.header_image %}
        <image src='{{ post.header_image.url }}'></image>
        <br>
    {% endif %}

<p>{{ post.body|safe }}</p>

<hr>

<form action="{% url 'like-post' post.pk %}" method="POST">
    {% csrf_token %}

    {% if user.is_authenticated %}

        {% if liked %}
            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">Unlike</button>
        {% else %}
            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-success btn-sm">Like</button> 
        {% endif %}
    {% else %}

    <small><a href="{% url 'login' %}">Login</a> to like a post</small>

    {% endif %}

    - {{ total_likes }} Likes
</form>

<br>

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-2">
          {% if post.author.profile.profile_pic %}
          <img src="{{ post.author.profile.profile_pic.url }}" alt="..." width="100">
          {% else %}
          <img src="{% static 'blogapp/images/default_profile_pic.jpg' %}" alt="..." width="100">
          {% endif %}
        </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'profile-page' post.author.profile.id %}">{{ post.author.first_name }} {{ post.author.last_name }}</a></h5>
          <p class="small text-muted">
            {% if post.author.profile.website_url %}
                <a href="{{ post.author.profile.website_url }}">Website</a> | 
            {% endif %}
            {% if post.author.profile.github_url %}
            <a href="{{ post.author.profile.github_url }}">GitHub</a> | 
            {% endif %}
            {% if post.author.profile.instagram_url %}
            <a href="{{ post.author.profile.instagram_url }}">Instagram</a> | 
            {% endif %}
            {% if post.author.profile.facebook_url %}
            <a href="{{ post.author.profile.facebook_url }}">Facebook</a> | 
            {% endif %}
          </p>
          <p class="card-text">{{ post.author.profile.bio }}</p>
        </div>
      </div>
    </div>
  </div>

  <br>

  <h4>Comments</h4>

  {% if not post.comments.all %}
    <p>No comments yet</p>
    <a href="{% url 'add-comment' post.pk %}">Add comment</a>
  {% else %}
    {% for comment in post.comments.all %}
      <strong>{{ comment.name }} - {{ comment.date_added }}</strong>
      <br>
      {{ comment.body }}
      <br>
      <br>
    {% endfor %}
    <a href="{% url 'add-comment' post.pk %}">Add comment</a>
  {% endif %}
<hr>

<a href="{% url 'index' %}" class="btn btn-dark">Back to home</a>
{% endblock %}